.borda
   {
   border-color     : #333333;
   border-style     : solid;
   border-width     : 1px;
   font-family      : arial;
   font-size        : 9pt;
   color            : #666699;
   }
.botao
   {
   border-color     : #000066;
   background-color : #666699;
   border-style     : solid;
   font-family      : arial;
   font-size        : 8pt;
   color            : #FFFFFF;
   font-weight      : bold;
   border-width     : 1px;
   }
