<header class="smc-egr-header">
  <div class="smc-egr-header-inner">
    <div class="smc-egr-header-logo">
      <img
        src="assets/images/brasao-pucminas-2025.svg"
        alt="Brasão PUC Minas"
      />
      <span class="smc-egr-header-logo-text">EGR - Ex-Alunos</span>
    </div>

    <!-- Nav opcional para futuras páginas -->
    <!-- <nav class="smc-egr-header-nav">
      <a href="#" class="smc-egr-header-link smc-egr-header-link--active">Início</a>
      <a href="#" class="smc-egr-header-link">Meu Perfil</a>
    </nav> -->
  </div>
</header>
