USE [EGR]
GO
/****** Object:  Schema [cad]    Script Date: 25/04/2024 15:34:41 ******/
CREATE SCHEMA [cad]
GO
/****** Object:  Schema [SEO]    Script Date: 25/04/2024 15:34:41 ******/
CREATE SCHEMA [SEO]
GO
/****** Object:  Schema [sga]    Script Date: 25/04/2024 15:34:41 ******/
CREATE SCHEMA [sga]
GO
/****** Object:  Table [SEO].[unidade]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEO].[unidade](
	[cod_unidade] [int] NOT NULL,
	[nom_unidade] [varchar](255) NOT NULL,
	[dat_inicio_vigencia] [datetime] NULL,
	[dat_fim_vigencia] [datetime] NULL,
	[ind_atividade] [char](1) NOT NULL,
	[cod_tipo_unidade] [int] NOT NULL,
	[cod_centro_custo] [int] NOT NULL,
	[cod_responsavel] [int] NOT NULL,
	[cod_empresa] [int] NOT NULL,
	[nom_usuario_inclusao] [char](30) NULL,
	[nom_usuario_alteracao] [char](30) NULL,
	[dat_inclusao] [datetime] NULL,
	[dat_alteracao] [datetime] NULL,
	[dsc_email] [varchar](100) NULL,
	[num_ddd] [varchar](2) NULL,
	[num_telefone] [varchar](10) NULL,
	[num_telefone2] [varchar](10) NULL,
	[cod_estabelecimento_ems] [char](3) NOT NULL,
	[nom_original] [varchar](255) NOT NULL,
	[cod_projeto] [varchar](12) NOT NULL,
	[ind_integra_sispro] [bit] NOT NULL,
	[cod_unid_negoc_ems] [char](3) NULL,
	[msrepl_tran_version] [uniqueidentifier] NOT NULL,
	[cod_usuario_alteracao] [int] NULL,
	[dsc_lista_email] [varchar](max) NULL,
	[cod_processo_importa_unidade] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [sga].[curso_oferta]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[curso_oferta](
	[cod_curso_oferta] [int] NOT NULL,
	[dat_inicio_funcionamento] [smalldatetime] NOT NULL,
	[qtd_minima_credito] [numeric](5, 2) NOT NULL,
	[qtd_maxima_credito] [numeric](5, 2) NOT NULL,
	[qtd_minima_carga_horaria] [smallint] NOT NULL,
	[qtd_maxima_carga_horaria] [smallint] NOT NULL,
	[ind_checa_requisito] [bit] NOT NULL,
	[cod_instituicao_financeira] [tinyint] NULL,
	[cod_empresa_financeira] [smallint] NULL,
	[cod_origem_financeira] [tinyint] NOT NULL,
	[cod_compl_origem_financeira] [smallint] NULL,
	[cod_servico_financeiro] [tinyint] NULL,
	[sit_curso_oferta] [smallint] NOT NULL,
	[cod_cidade] [smallint] NOT NULL,
	[cod_unidade] [int] NOT NULL,
	[seq_curso] [int] NOT NULL,
	[cod_uf] [char](2) NOT NULL,
	[cod_unidade_curso] [int] NOT NULL,
	[cod_unidade_gestora] [int] NOT NULL,
	[num_autorizacao] [char](20) NULL,
	[dat_autorizacao] [smalldatetime] NULL,
	[dsc_documento_autorizacao] [char](50) NULL,
	[tip_pre_matricula] [smallint] NOT NULL,
	[num_dias_apuracao_manha] [int] NOT NULL,
	[hra_apuracao_manha] [char](5) NOT NULL,
	[num_dias_apuracao_tarde] [int] NOT NULL,
	[hra_apuracao_tarde] [char](5) NOT NULL,
	[num_dias_apuracao_noite] [int] NOT NULL,
	[hra_apuracao_noite] [char](5) NOT NULL,
	[snh_pre_matricula] [char](20) NULL,
	[vlr_medio_ha] [money] NOT NULL,
	[cod_professor] [int] NULL,
	[ind_disciplina_isolada] [bit] NOT NULL,
	[dat_alt] [smalldatetime] NULL,
	[usu_alt] [varchar](30) NULL,
	[cod_prof_adjunto] [int] NULL,
	[nom_curso_diploma] [varchar](255) NULL,
	[dat_colacao_grau] [smalldatetime] NULL,
	[cod_curso_MEC] [int] NULL,
	[cod_habilitacao] [int] NULL,
	[dsc_criterio_avaliacao] [text] NULL,
	[seq_grupo_curso_oferta] [int] NULL,
	[num_vagas_vestibular] [int] NOT NULL,
	[ind_nega_ingresso_aluno] [bit] NOT NULL,
	[dsc_email_secretaria] [varchar](50) NULL,
	[dsc_remetente] [varchar](50) NULL,
	[dsc_assunto] [varchar](100) NULL,
	[dsc_mensagem_canc] [varchar](3500) NULL,
	[dsc_mensagem_tranc] [varchar](3500) NULL,
	[ind_tranc_cancelamento] [bit] NULL,
	[seq_tipo_diploma] [int] NULL,
	[ind_curso_livre] [bit] NULL,
	[ano_ingresso_curso_livre] [int] NULL,
	[dsc_obs_visita_mec] [varchar](max) NULL,
	[ind_responsavel_financeiro] [bit] NULL,
	[tip_contrato_aluno] [int] NULL,
	[sit_curso_oferta_emec] [int] NULL,
	[dat_inicio_funcionamento_MEC] [datetime] NULL,
	[num_vagas_MEC] [int] NULL,
	[carga_horaria_total_MEC] [int] NULL,
	[dsc_email_coordenacao] [varchar](100) NULL,
	[dsc_email_secretaria_acad_curs] [varchar](100) NULL,
	[cod_grupo_resolvedor_csc] [int] NULL,
	[cod_grupo_resolvedor_coord_csc] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [sga].[curso]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[curso](
	[seq_curso] [int] NOT NULL,
	[nom_curso] [char](50) NOT NULL,
	[dat_criacao] [smalldatetime] NOT NULL,
	[tip_regime_matricula] [smallint] NULL,
	[tip_sistema_curricular] [smallint] NULL,
	[cod_area] [char](7) NULL,
	[seq_tipo_curso] [smallint] NOT NULL,
	[nom_curso_padrao] [varchar](255) NULL,
	[seq_area_profissional] [tinyint] NULL,
	[ind_graduacao] [bit] NULL,
	[nom_curso_declaracao] [varchar](50) NULL,
	[tip_modalidade] [smallint] NOT NULL,
	[ind_tecnologia] [bit] NULL,
	[qtd_meses_duracao] [int] NULL,
	[ano_dcn] [smallint] NULL,
	[nom_curso_abreviado] [varchar](27) NULL,
	[seq_modalidade_curso] [int] NULL,
	[ind_hibrido] [bit] NULL,
	[dsc_sigla_curso] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ss_curso]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from vw_ss_curso
CREATE VIEW [dbo].[vw_ss_curso]
AS
SELECT cod_curso_oferta, nom_curso = RTRIM(nom_curso) + ' - ' + RTRIM(nom_unidade) + ' (' + rtrim(convert(varchar, cod_curso_oferta)) + ')'
  FROM sga.curso_oferta co (NOLOCK)
  JOIN sga.curso c (NOLOCK)
    ON c.seq_curso = co.seq_curso
   AND seq_tipo_curso = 9 
  JOIN seo.unidade u (NOLOCK)
    ON u.cod_unidade = co.cod_unidade



GO
/****** Object:  Table [sga].[turno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[turno](
	[cod_turno] [smallint] NOT NULL,
	[dsc_turno] [char](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ss_turno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from vw_ss_turno
CREATE VIEW [dbo].[vw_ss_turno]
AS
SELECT cod_turno, dsc_turno
  FROM sga.turno (NOLOCK)


GO
/****** Object:  Table [sga].[aluno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[aluno](
	[cod_aluno] [int] NOT NULL,
	[ind_deficiencia_fisica] [bit] NOT NULL,
	[dat_conclusao_provao] [smalldatetime] NULL,
	[sit_aluno] [smallint] NOT NULL,
	[tip_aluno] [smallint] NULL,
	[ind_formando] [bit] NOT NULL,
	[snh_aluno] [char](20) NULL,
	[cod_pessoa] [int] NOT NULL,
	[cod_unidade_distribuicao] [int] NULL,
	[ano_formando] [smallint] NULL,
	[sem_formando] [smallint] NULL,
	[qtd_trancamento] [tinyint] NULL,
	[obs_historico] [text] NULL,
	[dsc_email] [char](50) NULL,
	[tip_envio_email] [smallint] NOT NULL,
	[tip_email_celular] [tinyint] NOT NULL,
	[tel_local] [char](3) NULL,
	[tel_numero] [char](8) NULL,
	[ind_atestado_graduacao] [bit] NOT NULL,
	[ind_defesa_tese] [bit] NULL,
	[dat_ultimo_acesso_web] [smalldatetime] NULL,
	[ano_conclusao_em] [smallint] NULL,
	[ind_atualiza_endereco] [bit] NULL,
	[dat_lanc_atv_compl] [smalldatetime] NULL,
	[ind_recebe_email] [bit] NULL,
	[ind_recebe_mensagem] [bit] NULL,
	[ind_nota_celular_qualquer_hora] [bit] NULL,
	[ind_recebe_msg_celular] [bit] NOT NULL,
	[tip_nota_celular] [smallint] NOT NULL,
	[ind_colacao_individual] [bit] NULL,
	[ind_habilita_envio_email] [bit] NULL,
	[ind_excecao_cond_pag] [bit] NULL,
	[ind_aluno_prazo_estendido] [bit] NULL,
	[ind_pagamento_taxa_DA] [bit] NULL,
	[ind_pagamento_taxa_DCE] [bit] NULL,
	[seq_ingressante] [bigint] NULL,
	[idt_interesse_dispensa_disc] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [sga].[ingresso_aluno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[ingresso_aluno](
	[cod_aluno] [int] NOT NULL,
	[ano_ingresso] [smallint] NOT NULL,
	[sem_ingresso] [smallint] NOT NULL,
	[dat_admissao] [smalldatetime] NULL,
	[val_nota_exame] [float] NULL,
	[nom_curso_transferencia] [char](50) NULL,
	[nom_instituicao_transferencia] [char](50) NULL,
	[dsc_result_avaliacao_exame] [char](50) NULL,
	[cod_aluno_vestibular] [int] NULL,
	[cod_turno] [smallint] NOT NULL,
	[cod_curriculo] [int] NOT NULL,
	[cod_curso_oferta] [int] NOT NULL,
	[cod_forma_ingresso] [smallint] NOT NULL,
	[seq_diploma_titulo] [int] NULL,
	[cod_unidade_distribuicao] [int] NULL,
	[ind_atual] [bit] NOT NULL,
	[cod_servico] [int] NULL,
	[num_chamada_vestibular] [tinyint] NULL,
	[dat_transferencia] [smalldatetime] NULL,
	[dsc_epoca_exame] [char](50) NULL,
	[dsc_epoca_transferencia] [char](10) NULL,
	[ch_disciplina_isolada] [int] NULL,
	[cod_turno_ipuc] [smallint] NULL,
	[ind_libera_incomp_habilit] [bit] NULL,
	[cod_curriculo_novo] [int] NULL,
	[ano_curriculo_novo] [int] NULL,
	[sem_curriculo_novo] [int] NULL,
	[dat_fim_curso] [smalldatetime] NULL,
	[ind_aluno_jubilado] [bit] NULL,
	[dat_inicio_pos_doutorado] [smalldatetime] NULL,
	[dat_fim_pos_doutorado] [smalldatetime] NULL,
	[ind_bolsa_obtencao_novo_titulo] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [cad].[pessoa]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cad].[pessoa](
	[Pessoa_Codigo] [int] NOT NULL,
	[Pessoa_Nome] [varchar](50) NOT NULL,
	[Pessoa_Tipo] [char](1) NOT NULL,
	[Pessoa_Data_Inc] [datetime] NOT NULL,
	[Pessoa_Data_Alt] [datetime] NULL,
	[Usu_Inc] [varchar](30) NOT NULL,
	[Usu_Alt] [varchar](30) NULL,
	[Pessoa_em_Unificacao] [char](1) NULL,
	[pessoa_nome_completo] [varchar](255) NULL,
	[ind_funcionario] [char](1) NOT NULL,
	[pessoa_codigo_char] [varchar](22) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [cad].[pes]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cad].[pes](
	[Pessoa_Codigo] [int] NOT NULL,
	[Pes_Sexo] [char](1) NULL,
	[Pes_CI_Data] [datetime] NULL,
	[Pes_CI_Num] [char](15) NULL,
	[Pes_CI_OrgEmissor] [char](15) NULL,
	[UF_Codigo_CI] [char](2) NULL,
	[Pes_CPF] [char](11) NULL,
	[Pes_Passaport] [varchar](20) NULL,
	[Pes_TitEleitor_Num] [varchar](12) NULL,
	[Pes_TitEleitor_Zona] [varchar](3) NULL,
	[Pes_TitEleitor_Secao] [varchar](4) NULL,
	[UF_Codigo_TitEleitor] [char](2) NULL,
	[Pes_DocMilitar_Num] [varchar](15) NULL,
	[Pes_DocMilitar_Tipo] [varchar](5) NULL,
	[Pes_DocMilitar_CSM] [varchar](3) NULL,
	[UF_Codigo_DocMilitar] [char](2) NULL,
	[Pes_DataNasc] [datetime] NULL,
	[Pes_Emancipado] [bit] NOT NULL,
	[Nac_Codigo] [tinyint] NULL,
	[Cidade_Codigo_Natural] [smallint] NULL,
	[UF_Codigo_Natural] [char](2) NULL,
	[Pes_Est_Civil] [smallint] NULL,
	[Pes_Ano_Uniao] [char](4) NULL,
	[Pes_Regime_Casam] [smallint] NULL,
	[Pes_Nome_Conjuge] [varchar](255) NULL,
	[Pes_Nr_Depende] [tinyint] NULL,
	[Pes_Nome_Pai] [varchar](255) NULL,
	[Pes_Nome_Mae] [varchar](255) NULL,
	[Pes_CTP_Num] [char](12) NULL,
	[Pes_CTP_Serie] [char](4) NULL,
	[Pes_Outro_Rend] [tinyint] NULL,
	[Pes_Val_Mensal] [decimal](18, 2) NULL,
	[Pes_Atualizacao] [smallint] NOT NULL,
	[Cbo_Codigo] [varchar](6) NULL,
	[Pais_Codigo] [int] NULL,
	[Pes_Nome_Contato] [varchar](50) NULL,
	[Pes_CidEst_Estrangeiro] [varchar](60) NULL,
	[Pes_Naturalizado] [bit] NOT NULL,
	[Pes_Data_Inc] [datetime] NOT NULL,
	[Pes_Data_Alt] [datetime] NULL,
	[Usu_Inc] [varchar](30) NOT NULL,
	[Usu_Alt] [varchar](30) NULL,
	[NUM_INSC_INSS] [char](20) NULL,
	[tip_fator_rh] [char](1) NULL,
	[dsc_grupo_sangue] [char](2) NULL,
	[pes_cart_motorista] [char](20) NULL,
	[pes_categ_motorista] [char](20) NULL,
	[pes_dat_emissao_motorista] [datetime] NULL,
	[pes_dat_venc_motorista] [datetime] NULL,
	[pes_ctp_dat_emissao] [datetime] NULL,
	[cod_grau_instrucao] [smallint] NULL,
	[cod_registro_profissional] [smallint] NULL,
	[uf_codigo_ctp] [char](2) NULL,
	[dsc_registro_profissional] [char](20) NULL,
	[cod_pais_passaporte] [int] NULL,
	[nom_cidest_passaporte] [varchar](60) NULL,
	[cod_uf_passaporte] [char](2) NULL,
	[cod_cidade_passaporte] [smallint] NULL,
	[codigo_pispasep] [numeric](15, 0) NULL,
	[ind_pispasep] [char](1) NULL,
	[pes_dat_pispasep] [datetime] NULL,
	[pes_falecido] [smallint] NOT NULL,
	[Pes_CI_Num_Formatado] [char](15) NULL,
	[cbo_codigo_mae] [varchar](6) NULL,
	[cbo_codigo_pai] [varchar](6) NULL,
	[pes_val_rend_total] [decimal](18, 2) NULL,
	[pes_val_desp_total] [decimal](18, 2) NULL,
	[ind_raca_cor] [smallint] NULL,
	[cn_num_termo] [int] NULL,
	[cn_folha] [varchar](4) NULL,
	[cn_livro] [varchar](8) NULL,
	[cn_dat_emissao] [datetime] NULL,
	[cn_uf_cartorio] [char](2) NULL,
	[cn_nom_cartorio] [varchar](40) NULL,
	[cn_cns] [int] NULL,
	[cn_acervo] [tinyint] NULL,
	[cn_tipo_servico] [tinyint] NULL,
	[cn_ano_registro] [smallint] NULL,
	[cn_tipo_livro] [tinyint] NULL,
	[cn_dv] [tinyint] NULL,
	[Pes_Nome_Social] [varchar](50) NULL,
	[ind_wifi_funcionario] [smallint] NOT NULL,
	[ind_wifi_menor_aprendiz] [smallint] NOT NULL,
	[wifi_menor_aprendiz_dat_inicio] [datetime] NULL,
	[wifi_menor_aprendiz_dat_fim] [datetime] NULL,
	[cod_banco] [smallint] NULL,
	[cod_agencia] [varchar](10) NULL,
	[cod_conta] [varchar](25) NULL,
	[Pes_Identidade_Estrangeira] [varchar](50) NULL,
	[Pes_Nome_Social_Autorizado] [smallint] NULL,
	[pes_cpf_conjuge] [char](11) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[historico_escolar]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[historico_escolar](
	[ano_cursada] [smallint] NOT NULL,
	[sem_cursada] [smallint] NOT NULL,
	[cod_disciplina] [int] NOT NULL,
	[val_nota_1_epoca] [float] NOT NULL,
	[val_nota_2_epoca] [float] NULL,
	[sit_aprovacao] [smallint] NOT NULL,
	[qtd_aula] [smallint] NOT NULL,
	[qtd_falta] [smallint] NOT NULL,
	[ind_disciplina_isolada] [bit] NOT NULL,
	[dsc_curso_turma] [char](10) NULL,
	[cod_professor] [int] NULL,
	[cod_curso_oferta] [int] NULL,
	[cod_aluno] [int] NOT NULL,
	[seq_topico] [smallint] NOT NULL,
	[seq_tese_dissertacao] [smallint] NULL,
	[cod_unidade_distribuicao] [int] NULL,
	[dat_inclusao] [smalldatetime] NULL,
	[cod_professor_visitante] [int] NULL,
	[dat_inc] [smalldatetime] NULL,
	[usu_inc] [varchar](30) NULL,
	[dat_alt] [smalldatetime] NULL,
	[usu_alt] [varchar](30) NULL,
	[ind_aprovado] [bit] NULL,
	[ind_replica] [bit] NULL,
	[cod_disciplina_dispensada] [int] NULL,
	[dsc_disciplina_dispensada] [varchar](255) NULL,
	[ind_disciplina_dispensada] [bit] NULL,
	[tot_ativ_compl_disciplina] [char](6) NULL,
	[ind_professor_comum_disc] [bit] NULL,
	[ind_disciplina_naoaproveitavel] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ss_aluno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from vw_ss_aluno
CREATE VIEW [dbo].[vw_ss_aluno] AS

SELECT DISTINCT 
	a.cod_aluno, 
	pessoa_nome, 
	pes_datanasc, 
	convert (char(10), pes_datanasc, 120) dat_nascimento,
	ano_cursada ano, 
	sem_cursada semestre, 
	ia.cod_curso_oferta, 
	ia.cod_turno

  FROM sga.aluno a (NOLOCK)
  JOIN sga.ingresso_aluno ia (NOLOCK)
    ON a.cod_aluno = ia.cod_aluno 
  JOIN cad.pessoa p (NOLOCK)
    ON p.pessoa_codigo = cod_pessoa
  JOIN cad.pes ps (NOLOCK)
    ON ps.pessoa_codigo = p.pessoa_codigo
  JOIN sga.historico_escolar h (NOLOCK)
    ON a.cod_aluno = h.cod_aluno
   AND CONVERT(CHAR(4), ano_cursada) + CONVERT(CHAR(1), sem_cursada) =
       (SELECT MAX(CONVERT(CHAR(4), ano_cursada) + CONVERT(CHAR(1), sem_cursada))
          FROM sga.historico_escolar hh (NOLOCK)
          WHERE hh.cod_aluno = h.cod_aluno 
            AND sit_aprovacao IN (0,1)) 
 


GO
/****** Object:  Table [dbo].[respostas]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[respostas](
	[seq_resp] [int] IDENTITY(1,1) NOT NULL,
	[cod_questionario] [int] NOT NULL,
	[seq_per] [int] NOT NULL,
	[dsc_resposta] [varchar](350) NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[seq_resp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pergunta_resposta]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pergunta_resposta](
	[cod_aluno] [int] NOT NULL,
	[cod_seq] [int] IDENTITY(1,1) NOT NULL,
	[questionario_cod_questionario] [int] NOT NULL,
	[pergunta_seq_per] [int] NOT NULL,
	[resposta_seq_resp] [int] NOT NULL,
	[dsc_resp] [varchar](350) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[cod_aluno] ASC,
	[cod_seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pergunta]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pergunta](
	[seq_per] [int] IDENTITY(1,1) NOT NULL,
	[dsc_pergunta] [varchar](200) NOT NULL,
	[qtd_resp] [int] NOT NULL,
	[questionario_cod_questionario] [int] NOT NULL,
	[idt_campo_descritivo] [bit] NULL,
 CONSTRAINT [PK__pergunta__0F975522] PRIMARY KEY NONCLUSTERED 
(
	[seq_per] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ss_respostas_preenchidas]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from vw_ss_respostas_preenchidas
CREATE view [dbo].[vw_ss_respostas_preenchidas] as 

select distinct 
a.cod_aluno, 
convert (char(15), pr.cod_aluno) cod_aluno_str, 
p.questionario_cod_questionario, 
p.seq_per, 
p.qtd_resp, 
r.seq_resp, 
r.dsc_resposta, 
pr.questionario_cod_questionario questionario_pr, 
pr.pergunta_seq_per, 
pr.resposta_seq_resp, 
pr.dsc_resp 

from pergunta p 

join sga.aluno a on 
1 = 1 

left join respostas r on 
p.seq_per = r.seq_per 

left join pergunta_resposta pr on 
a.cod_aluno = pr.cod_aluno and 
p.seq_per = pr.pergunta_seq_per and 
(pr.resposta_seq_resp = r.seq_resp or 
(pr.resposta_seq_resp = 0 and pr.dsc_resp is not null)) 


GO
/****** Object:  View [dbo].[vw_ss_respostas_nao_preenchidas]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from vw_ss_respostas_nao_preenchidas
CREATE view [dbo].[vw_ss_respostas_nao_preenchidas] as 

select 	distinct 
	p.questionario_cod_questionario,
	p.seq_per,
  	p.qtd_resp,
        r.seq_resp,
	r.dsc_resposta

from  	pergunta p

left join	respostas r	on
		p.seq_per = r.seq_per



GO
/****** Object:  View [dbo].[vw_ss_respostas]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_ss_respostas] as

select 	distinct 
	p.questionario_cod_questionario,
	p.seq_per,
  	p.qtd_resp,
        r.seq_resp,
	r.dsc_resposta,
        pr.cod_aluno,
  	pr.questionario_cod_questionario questionario_pr,
	pr.pergunta_seq_per,
	pr.resposta_seq_resp,
        pr.dsc_resp,
	convert (char(15), pr.cod_aluno) cod_aluno_str


from  	pergunta p

left join	respostas r	on
		p.seq_per = r.seq_per

left join	pergunta_resposta pr on
		p.seq_per = pr.pergunta_seq_per and
		(r.seq_resp = pr.resposta_seq_resp or
                 pr.dsc_resp is not null)

GO
/****** Object:  View [dbo].[vw_ss_pergunta_x_aluno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_ss_pergunta_x_aluno] as 
select 	distinct
	Pr.cod_aluno, 
	P.seq_per, 
	P.dsc_pergunta, 
	P.qtd_resp, 
	P.questionario_cod_questionario,
	P.idt_campo_descritivo
from 	pergunta P
left join pergunta_resposta PR
on  	P.seq_per = PR.pergunta_seq_per
GO
/****** Object:  Table [dbo].[aluno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aluno](
	[seq_aluno] [int] IDENTITY(1,1) NOT NULL,
	[cod_aluno] [int] NULL,
	[cod_pessoa] [int] NULL,
	[seq_origem] [int] NOT NULL,
	[seq_curso] [int] NOT NULL,
	[nom_aluno] [varchar](100) NOT NULL,
	[dat_nascimento] [datetime] NULL,
	[end_logradouro] [varchar](60) NULL,
	[end_numero] [varchar](10) NULL,
	[end_complemento] [varchar](25) NULL,
	[end_bairro] [varchar](50) NULL,
	[end_cep] [char](8) NULL,
	[uf_codigo] [char](2) NULL,
	[cod_cidade] [int] NULL,
	[tel_contato] [varchar](30) NULL,
	[tel_contato_ddd] [varchar](5) NULL,
	[tel_celular] [varchar](30) NULL,
	[tel_celular_ddd] [varchar](30) NULL,
	[dsc_email] [varchar](50) NULL,
	[ano_conclusao] [int] NULL,
	[sem_conclusao] [int] NULL,
	[dsc_ocupacao] [varchar](70) NULL,
	[dsc_empresa] [varchar](70) NULL,
	[tel_comercial] [varchar](30) NULL,
	[tel_comercial_ddd] [varchar](5) NULL,
	[sit_cadastro] [tinyint] NOT NULL,
	[ind_email] [bit] NOT NULL,
 CONSTRAINT [PK_aluno] PRIMARY KEY CLUSTERED 
(
	[seq_aluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ss_busca_aluno]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_ss_busca_aluno]
as
	select 	
		seq_aluno,
		cod_aluno,
		cod_pessoa,
		seq_origem,
		seq_curso,
		convert(char(10), dat_nascimento, 103) as dat_nascimento,
		replace(nom_aluno, 'ç', 'c') as nom_aluno
	from 	aluno (NOLOCK)


GO
/****** Object:  Table [SEO].[cidade]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEO].[cidade](
	[uf_codigo] [char](2) NOT NULL,
	[cidade_codigo] [int] NOT NULL,
	[cidade_nome] [char](50) NOT NULL,
	[cidade_ddd] [char](5) NULL,
	[cidade_codigo_correio] [char](6) NULL,
	[nom_usuario_inclusao] [char](30) NULL,
	[nom_usuario_alteracao] [char](30) NULL,
	[dat_inclusao] [datetime] NULL,
	[dat_alteracao] [datetime] NULL,
	[cidade_nome_ok] [char](1) NULL,
	[cep_inicial] [char](8) NULL,
	[cep_final] [char](8) NULL,
	[Cep1_inicial] [char](8) NULL,
	[Cep1_final] [char](8) NULL,
	[ind_tipo_localidade] [char](1) NULL,
	[subordinacao_cidade] [char](8) NULL,
	[cidade_codigo_dne] [int] NULL,
	[ind_cidade_valida] [char](1) NULL,
	[cidade_codigo_dne_novo] [int] NULL,
	[cod_municipio_ibge] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ss_cidade]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ss_cidade] AS

SELECT 	uf_codigo, cidade_codigo, cidade_nome, cidade_ddd, 
	cidade_codigo_correio, nom_usuario_inclusao, nom_usuario_alteracao,
	dat_inclusao, dat_alteracao, cidade_nome_ok, cep_inicial, cep_final, Cep1_inicial, Cep1_final 

FROM 	seo.cidade

WHERE	cidade_codigo_correio IS not null




GO
/****** Object:  Table [SEO].[logradouro]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEO].[logradouro](
	[cod_logradouro] [int] IDENTITY(1,1) NOT NULL,
	[tip_registro] [char](1) NOT NULL,
	[uf_codigo] [char](2) NOT NULL,
	[cidade_codigo_correio] [int] NULL,
	[cidade_codigo_dne] [int] NULL,
	[cod_bairro_inicial] [int] NULL,
	[cod_bairro_final] [int] NULL,
	[cod_tipo_logradouro] [int] NULL,
	[nom_preposicao] [char](3) NULL,
	[tit_patente_oficial] [varchar](72) NULL,
	[cod_logradouro_dne] [int] NULL,
	[nom_logradouro] [varchar](72) NULL,
	[nom_abrev_logradouro] [varchar](36) NULL,
	[dsc_informacao_adicional] [varchar](36) NULL,
	[cep_logradouro] [char](8) NULL,
	[num_inicial_trecho] [char](11) NULL,
	[num_final_trecho] [char](11) NULL,
	[ind_paridade] [char](1) NULL,
	[cod_seccionamento] [int] NULL,
	[num_lote] [char](11) NULL,
	[cod_lote] [int] NULL,
	[nom_complemento1] [varchar](36) NULL,
	[num_letra_complemento1] [varchar](11) NULL,
	[cod_complemento1] [int] NULL,
	[nom_complemento2] [varchar](11) NULL,
	[num_letra_complemento2] [varchar](11) NULL,
	[cod_complemento2] [int] NULL,
	[nom_completo] [varchar](255) NULL,
	[nom_usuario_inclusao] [varchar](60) NULL,
	[dat_inclusao] [smalldatetime] NULL,
	[nom_usuario_alteracao] [varchar](60) NULL,
	[dat_alteracao] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SEO].[bairro]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEO].[bairro](
	[cod_bairro] [int] NOT NULL,
	[nom_bairro] [char](72) NULL,
	[uf_codigo] [char](2) NULL,
	[cidade_codigo_dne] [int] NULL,
	[nom_abrev_bairro] [char](36) NULL,
	[nom_usuario_inclusao] [char](30) NULL,
	[dat_inclusao] [datetime] NULL,
	[nom_usuario_alteracao] [char](30) NULL,
	[dat_alteracao] [datetime] NULL,
	[ind_dne_ativo] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SEO].[tipo_logradouro]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEO].[tipo_logradouro](
	[cod_tipo_logradouro] [int] NOT NULL,
	[dsc_tipo_logradouro] [char](72) NULL,
	[dsc_abrev_tipo_logradouro] [char](15) NULL,
	[nom_usuario_inclusao] [varchar](60) NULL,
	[dat_inclusao] [smalldatetime] NULL,
	[nom_usuario_alteracao] [varchar](60) NULL,
	[dat_alteracao] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ss_endereco_correio]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  View dbo.vw_ss_endereco_correio    Script Date: 28/09/2009 11:15:35 ******/

CREATE VIEW [dbo].[vw_ss_endereco_correio] AS

SELECT  l.nom_completo as nom_logradouro,
	l.cep_logradouro, 
        l.uf_codigo, 
        i.nom_bairro, 
        c.cidade_codigo,
        UPPER(c.cidade_nome) as cidade_nome,
        l.num_inicial_trecho,
        l.num_final_trecho,
        'Logradouro' as tipo_cep
from seo.logradouro l
join seo.bairro i
  on l.cod_bairro_inicial = i.cod_bairro
left join seo.bairro f
  on l.cod_bairro_final = f.cod_bairro
left join seo.tipo_logradouro t
  on l.cod_tipo_logradouro = t.cod_tipo_logradouro
left join seo.cidade c
  on i.cidade_codigo_dne = c.cidade_codigo_dne 
UNION
SELECT NULL as nom_logradouro,
       cep_inicial as cep_logradouro,   
       uf_codigo,
       NULL as nom_bairro,
       cidade_codigo,
       UPPER(cidade_nome) as cidade_nome,
       NULL as num_inicial_trecho,
       NULL as num_final_trecho,
       'Cidade' as tipo_cep
FROM seo.cidade 
WHERE cep_inicial = cep_final





GO
/****** Object:  Table [dbo].[curso]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso](
	[seq_curso] [int] IDENTITY(1,1) NOT NULL,
	[seq_origem] [int] NOT NULL,
	[cod_curso] [int] NOT NULL,
	[nom_curso] [varchar](150) NOT NULL,
	[cod_origem_gra] [int] NOT NULL,
	[dsc_banco] [varchar](10) NULL,
 CONSTRAINT [PK_curso] PRIMARY KEY CLUSTERED 
(
	[seq_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dominio]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dominio](
	[cod_dominio] [char](30) NOT NULL,
	[val_dominio] [smallint] NOT NULL,
	[dsc_dominio] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dominio] PRIMARY KEY CLUSTERED 
(
	[cod_dominio] ASC,
	[val_dominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dtproperties]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dtproperties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[objectid] [int] NULL,
	[property] [varchar](64) NOT NULL,
	[value] [varchar](255) NULL,
	[uvalue] [nvarchar](255) NULL,
	[lvalue] [image] NULL,
	[version] [int] NOT NULL,
 CONSTRAINT [pk_dtproperties] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[property] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[origem]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[origem](
	[seq_origem] [int] NOT NULL,
	[nom_origem] [varchar](60) NOT NULL,
 CONSTRAINT [PK_origem] PRIMARY KEY CLUSTERED 
(
	[seq_origem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questionario]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questionario](
	[cod_questionario] [int] NOT NULL,
	[nom_questionario] [varchar](50) NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[cod_questionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[situacao_cadastro]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[situacao_cadastro](
	[seq_aluno] [int] NOT NULL,
	[dat_atualizacao] [datetime] NOT NULL,
	[sit_cadastro] [tinyint] NOT NULL,
 CONSTRAINT [PK_situacao_cadastro] PRIMARY KEY CLUSTERED 
(
	[seq_aluno] ASC,
	[dat_atualizacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_exalunos]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_exalunos](
	[cod_aluno] [int] NOT NULL,
	[dsc_email] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aluno] ADD  CONSTRAINT [DF_aluno_sit_cadastro]  DEFAULT (3) FOR [sit_cadastro]
GO
ALTER TABLE [dbo].[aluno] ADD  DEFAULT (1) FOR [ind_email]
GO
ALTER TABLE [dbo].[curso] ADD  CONSTRAINT [DF_curso_cod_origem_gra]  DEFAULT (1) FOR [cod_origem_gra]
GO
ALTER TABLE [dbo].[dtproperties] ADD  DEFAULT (0) FOR [version]
GO
ALTER TABLE [dbo].[pergunta] ADD  CONSTRAINT [DF__pergunta__idt_ca__72C60C4A]  DEFAULT (0) FOR [idt_campo_descritivo]
GO
ALTER TABLE [dbo].[aluno]  WITH CHECK ADD  CONSTRAINT [FK_aluno_curso] FOREIGN KEY([seq_curso])
REFERENCES [dbo].[curso] ([seq_curso])
GO
ALTER TABLE [dbo].[aluno] CHECK CONSTRAINT [FK_aluno_curso]
GO
ALTER TABLE [dbo].[aluno]  WITH CHECK ADD  CONSTRAINT [FK_aluno_origem] FOREIGN KEY([seq_origem])
REFERENCES [dbo].[origem] ([seq_origem])
GO
ALTER TABLE [dbo].[aluno] CHECK CONSTRAINT [FK_aluno_origem]
GO
ALTER TABLE [dbo].[curso]  WITH CHECK ADD  CONSTRAINT [FK_curso_origem] FOREIGN KEY([seq_origem])
REFERENCES [dbo].[origem] ([seq_origem])
GO
ALTER TABLE [dbo].[curso] CHECK CONSTRAINT [FK_curso_origem]
GO
ALTER TABLE [dbo].[pergunta_resposta]  WITH NOCHECK ADD  CONSTRAINT [FK_pergunta_resposta_pergunta] FOREIGN KEY([pergunta_seq_per])
REFERENCES [dbo].[pergunta] ([seq_per])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pergunta_resposta] CHECK CONSTRAINT [FK_pergunta_resposta_pergunta]
GO
ALTER TABLE [dbo].[respostas]  WITH NOCHECK ADD  CONSTRAINT [FK_respostas_pergunta] FOREIGN KEY([seq_per])
REFERENCES [dbo].[pergunta] ([seq_per])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[respostas] CHECK CONSTRAINT [FK_respostas_pergunta]
GO
ALTER TABLE [dbo].[situacao_cadastro]  WITH CHECK ADD  CONSTRAINT [FK_situacao_cadastro_aluno] FOREIGN KEY([seq_aluno])
REFERENCES [dbo].[aluno] ([seq_aluno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[situacao_cadastro] CHECK CONSTRAINT [FK_situacao_cadastro_aluno]
GO
/****** Object:  StoredProcedure [dbo].[dt_addtosourcecontrol]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_addtosourcecontrol]
    @vchSourceSafeINI varchar(255) = '',
    @vchProjectName   varchar(255) ='',
    @vchComment       varchar(255) ='',
    @vchLoginName     varchar(255) ='',
    @vchPassword      varchar(255) =''

as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId = 0

declare @iStreamObjectId int
select @iStreamObjectId = 0

declare @VSSGUID varchar(100)
select @VSSGUID = 'SQLVersionControl.VCS_SQL'

declare @vchDatabaseName varchar(255)
select @vchDatabaseName = db_name()

declare @iReturnValue int
select @iReturnValue = 0

declare @iPropertyObjectId int
declare @vchParentId varchar(255)

declare @iObjectCount int
select @iObjectCount = 0

    exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
    if @iReturn <> 0 GOTO E_OAError


    /* Create Project in SS */
    exec @iReturn = sp_OAMethod @iObjectId,
                                'AddProjectToSourceSafe',
                                NULL,
                                @vchSourceSafeINI,
                                @vchProjectName output,
                                @@SERVERNAME,
                                @vchDatabaseName,
                                @vchLoginName,
                                @vchPassword,
                                @vchComment


    if @iReturn <> 0 GOTO E_OAError

    exec @iReturn = sp_OAGetProperty @iObjectId, 'GetStreamObject', @iStreamObjectId OUT

    if @iReturn <> 0 GOTO E_OAError

    /* Set Database Properties */

    begin tran SetProperties

    /* add high level object */

    exec @iPropertyObjectId = dbo.dt_adduserobject_vcs 'VCSProjectID'

    select @vchParentId = CONVERT(varchar(255),@iPropertyObjectId)

    exec dbo.dt_setpropertybyid @iPropertyObjectId, 'VCSProjectID', @vchParentId , NULL
    exec dbo.dt_setpropertybyid @iPropertyObjectId, 'VCSProject' , @vchProjectName , NULL
    exec dbo.dt_setpropertybyid @iPropertyObjectId, 'VCSSourceSafeINI' , @vchSourceSafeINI , NULL
    exec dbo.dt_setpropertybyid @iPropertyObjectId, 'VCSSQLServer', @@SERVERNAME, NULL
    exec dbo.dt_setpropertybyid @iPropertyObjectId, 'VCSSQLDatabase', @vchDatabaseName, NULL

    if @@error <> 0 GOTO E_General_Error

    commit tran SetProperties

    declare cursorProcNames cursor for
        select convert(varchar(255), name) from sysobjects where type = 'P' and name not like 'dt_%'
    open cursorProcNames

    while 1 = 1
    begin
        declare @vchProcName varchar(255)
        fetch next from cursorProcNames into @vchProcName
        if @@fetch_status <> 0
            break

        select colid, text into #ProcLines
        from syscomments
        where id = object_id(@vchProcName)
        order by colid

        declare @iCurProcLine int
        declare @iProcLines int
        select @iCurProcLine = 1
        select @iProcLines = (select count(*) from #ProcLines)
        while @iCurProcLine <= @iProcLines
        begin
            declare @pos int
            select @pos = 1
            declare @iCurLineSize int
            select @iCurLineSize = len((select text from #ProcLines where colid = @iCurProcLine))
            while @pos <= @iCurLineSize
            begin
                declare @vchProcLinePiece varchar(255)
                select @vchProcLinePiece = convert(varchar(255),
                    substring((select text from #ProcLines where colid = @iCurProcLine),
                              @pos, 255 ))
                exec @iReturn = sp_OAMethod @iStreamObjectId, 'AddStream', @iReturnValue OUT, @vchProcLinePiece
                if @iReturn <> 0 GOTO E_OAError
                select @pos = @pos + 255
            end
            select @iCurProcLine = @iCurProcLine + 1
        end
        drop table #ProcLines

        exec @iReturn = sp_OAMethod @iObjectId,
                                    'CheckIn_StoredProcedure',
                                    NULL,
                                    @sProjectName = @vchProjectName,
                                    @sSourceSafeINI = @vchSourceSafeINI,
                                    @sServerName = @@SERVERNAME,
                                    @sDatabaseName = @vchDatabaseName,
                                    @sObjectName = @vchProcName,
                                    @sComment = @vchComment,
                                    @sLoginName = @vchLoginName,
                                    @sPassword = @vchPassword,
                                    @iVCSFlags = 0,
                                    @iActionFlag = 0,
                                    @sStream = ''

        if @iReturn = 0 select @iObjectCount = @iObjectCount + 1

    end

CleanUp:
	close cursorProcNames
	deallocate cursorProcNames
    select @vchProjectName
    select @iObjectCount
    return

E_General_Error:
    /* this is an all or nothing.  No specific error messages */
    goto CleanUp

E_OAError:
    exec dbo.dt_displayoaerror @iObjectId, @iReturn
    goto CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_addtosourcecontrol_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_addtosourcecontrol_u]
    @vchSourceSafeINI nvarchar(255) = '',
    @vchProjectName   nvarchar(255) ='',
    @vchComment       nvarchar(255) ='',
    @vchLoginName     nvarchar(255) ='',
    @vchPassword      nvarchar(255) =''

as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId = 0

declare @iStreamObjectId int
select @iStreamObjectId = 0

declare @VSSGUID nvarchar(100)
select @VSSGUID = N'SQLVersionControl.VCS_SQL'

declare @vchDatabaseName varchar(255)
select @vchDatabaseName = db_name()

declare @iReturnValue int
select @iReturnValue = 0

declare @iPropertyObjectId int
declare @vchParentId nvarchar(255)

declare @iObjectCount int
select @iObjectCount = 0

    exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
    if @iReturn <> 0 GOTO E_OAError


    /* Create Project in SS */
    exec @iReturn = sp_OAMethod @iObjectId,
                                'AddProjectToSourceSafe',
                                NULL,
                                @vchSourceSafeINI,
                                @vchProjectName output,
                                @@SERVERNAME,
                                @vchDatabaseName,
                                @vchLoginName,
                                @vchPassword,
                                @vchComment


    if @iReturn <> 0 GOTO E_OAError

    exec @iReturn = sp_OAGetProperty @iObjectId, N'GetStreamObject', @iStreamObjectId OUT

    if @iReturn <> 0 GOTO E_OAError

    /* Set Database Properties */

    begin tran SetProperties

    /* add high level object */

    exec @iPropertyObjectId = dbo.dt_adduserobject_vcs 'VCSProjectID'

    select @vchParentId = CONVERT(nvarchar(255),@iPropertyObjectId)

    exec dbo.dt_setpropertybyid_u @iPropertyObjectId, 'VCSProjectID', @vchParentId , NULL
    exec dbo.dt_setpropertybyid_u @iPropertyObjectId, 'VCSProject' , @vchProjectName , NULL
    exec dbo.dt_setpropertybyid_u @iPropertyObjectId, 'VCSSourceSafeINI' , @vchSourceSafeINI , NULL
    exec dbo.dt_setpropertybyid_u @iPropertyObjectId, 'VCSSQLServer', @@SERVERNAME, NULL
    exec dbo.dt_setpropertybyid_u @iPropertyObjectId, 'VCSSQLDatabase', @vchDatabaseName, NULL

    if @@error <> 0 GOTO E_General_Error

    commit tran SetProperties

    declare cursorProcNames cursor for
        select convert(nvarchar(255), name) from sysobjects where type = N'P' and name not like N'dt_%'
    open cursorProcNames

    while 1 = 1
    begin
        declare @vchProcName nvarchar(255)
        fetch next from cursorProcNames into @vchProcName
        if @@fetch_status <> 0
            break

        select colid, text into #ProcLines
        from syscomments
        where id = object_id(@vchProcName)
        order by colid

        declare @iCurProcLine int
        declare @iProcLines int
        select @iCurProcLine = 1
        select @iProcLines = (select count(*) from #ProcLines)
        while @iCurProcLine <= @iProcLines
        begin
            declare @pos int
            select @pos = 1
            declare @iCurLineSize int
            select @iCurLineSize = len((select text from #ProcLines where colid = @iCurProcLine))
            while @pos <= @iCurLineSize
            begin
                declare @vchProcLinePiece nvarchar(255)
                select @vchProcLinePiece = convert(nvarchar(255),
                    substring((select text from #ProcLines where colid = @iCurProcLine),
                              @pos, 255 ))
                exec @iReturn = sp_OAMethod @iStreamObjectId, N'AddStream', @iReturnValue OUT, @vchProcLinePiece
                if @iReturn <> 0 GOTO E_OAError
                select @pos = @pos + 255
            end
            select @iCurProcLine = @iCurProcLine + 1
        end
        drop table #ProcLines

        exec @iReturn = sp_OAMethod @iObjectId,
                                    'CheckIn_StoredProcedure',
                                    NULL,
                                    @sProjectName = @vchProjectName,
                                    @sSourceSafeINI = @vchSourceSafeINI,
                                    @sServerName = @@SERVERNAME,
                                    @sDatabaseName = @vchDatabaseName,
                                    @sObjectName = @vchProcName,
                                    @sComment = @vchComment,
                                    @sLoginName = @vchLoginName,
                                    @sPassword = @vchPassword,
                                    @iVCSFlags = 0,
                                    @iActionFlag = 0,
                                    @sStream = ''

        if @iReturn = 0 select @iObjectCount = @iObjectCount + 1

    end

CleanUp:
	close cursorProcNames
	deallocate cursorProcNames
    select @vchProjectName
    select @iObjectCount
    return

E_General_Error:
    /* this is an all or nothing.  No specific error messages */
    goto CleanUp

E_OAError:
    exec dbo.dt_displayoaerror_u @iObjectId, @iReturn
    goto CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_adduserobject]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	Add an object to the dtproperties table
*/
create procedure [dbo].[dt_adduserobject]
as
	set nocount on
	/*
	** Create the user object if it does not exist already
	*/
	begin transaction
		insert dbo.dtproperties (property) VALUES ('DtgSchemaOBJECT')
		update dbo.dtproperties set objectid=@@identity 
			where id=@@identity and property='DtgSchemaOBJECT'
	commit
	return @@identity
GO
/****** Object:  StoredProcedure [dbo].[dt_adduserobject_vcs]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[dt_adduserobject_vcs]
    @vchProperty varchar(64)

as

set nocount on

declare @iReturn int
    /*
    ** Create the user object if it does not exist already
    */
    begin transaction
        select @iReturn = objectid from dbo.dtproperties where property = @vchProperty
        if @iReturn IS NULL
        begin
            insert dbo.dtproperties (property) VALUES (@vchProperty)
            update dbo.dtproperties set objectid=@@identity
                    where id=@@identity and property=@vchProperty
            select @iReturn = @@identity
        end
    commit
    return @iReturn


GO
/****** Object:  StoredProcedure [dbo].[dt_checkinobject]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_checkinobject]
    @chObjectType  char(4),
    @vchObjectName varchar(255),
    @vchComment    varchar(255)='',
    @vchLoginName  varchar(255),
    @vchPassword   varchar(255)='',
    @iVCSFlags     int = 0,
    @iActionFlag   int = 0,   /* 0 => AddFile, 1 => CheckIn */
    @txStream1     Text = '', /* There is a bug that if items are NULL they do not pass to OLE servers */
    @txStream2     Text = '',
    @txStream3     Text = ''


as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId = 0

declare @VSSGUID varchar(100)
select @VSSGUID = 'SQLVersionControl.VCS_SQL'


declare @iPropertyObjectId int
select @iPropertyObjectId  = 0

    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   varchar(255)
    declare @vchSourceSafeINI varchar(255)
    declare @vchServerName    varchar(255)
    declare @vchDatabaseName  varchar(255)
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if @chObjectType = 'PROC'
    begin
        if @iActionFlag = 1
        begin
            /* Procedure Can have up to three streams
            Drop Stream, Create Stream, GRANT stream */

            begin tran compile_all

            /* try to compile the streams */
            exec (@txStream1)
            if @@error <> 0 GOTO E_Compile_Fail

            exec (@txStream2)
            if @@error <> 0 GOTO E_Compile_Fail

            exec (@txStream3)
            if @@error <> 0 GOTO E_Compile_Fail
        end

        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
        if @iReturn <> 0 GOTO E_OAError

        if @iActionFlag = 1
        begin
            exec @iReturn = sp_OAMethod @iObjectId,
                                        'CheckIn_StoredProcedure',
                                        NULL,
                                        @sProjectName = @vchProjectName,
                                        @sSourceSafeINI = @vchSourceSafeINI,
                                        @sServerName = @vchServerName,
                                        @sDatabaseName = @vchDatabaseName,
                                        @sObjectName = @vchObjectName,
                                        @sComment = @vchComment,
                                        @sLoginName = @vchLoginName,
                                        @sPassword = @vchPassword,
                                        @iVCSFlags = @iVCSFlags,
                                        @iActionFlag = @iActionFlag,
                                        @sStream = @txStream2
        end
        else
        begin
            declare @iStreamObjectId int
            declare @iReturnValue int

            exec @iReturn = sp_OAGetProperty @iObjectId, 'GetStreamObject', @iStreamObjectId OUT
            if @iReturn <> 0 GOTO E_OAError

            select colid, text into #ProcLines
            from syscomments
            where id = object_id(@vchObjectName)
            order by colid

            declare @iCurProcLine int
            declare @iProcLines int
            select @iCurProcLine = 1
            select @iProcLines = (select count(*) from #ProcLines)
            while @iCurProcLine <= @iProcLines
            begin
                declare @pos int
                select @pos = 1
                declare @iCurLineSize int
                select @iCurLineSize = len((select text from #ProcLines where colid = @iCurProcLine))
                while @pos <= @iCurLineSize
                begin
                    declare @vchProcLinePiece varchar(255)
                    select @vchProcLinePiece = convert(varchar(255),
                        substring((select text from #ProcLines where colid = @iCurProcLine),
                                  @pos, 255 ))
                    exec @iReturn = sp_OAMethod @iStreamObjectId, 'AddStream', @iReturnValue OUT, @vchProcLinePiece
                    if @iReturn <> 0 GOTO E_OAError
                    select @pos = @pos + 255
                end
                select @iCurProcLine = @iCurProcLine + 1
            end
            drop table #ProcLines

            exec @iReturn = sp_OAMethod @iObjectId,
                                        'CheckIn_StoredProcedure',
                                        NULL,
                                        @sProjectName = @vchProjectName,
                                        @sSourceSafeINI = @vchSourceSafeINI,
                                        @sServerName = @vchServerName,
                                        @sDatabaseName = @vchDatabaseName,
                                        @sObjectName = @vchObjectName,
                                        @sComment = @vchComment,
                                        @sLoginName = @vchLoginName,
                                        @sPassword = @vchPassword,
                                        @iVCSFlags = @iVCSFlags,
                                        @iActionFlag = @iActionFlag,
                                        @sStream = ''
        end

        if @iReturn <> 0 GOTO E_OAError

        if @iActionFlag = 1
        begin
            commit tran compile_all
            if @@error <> 0 GOTO E_Compile_Fail
        end

    end

CleanUp:
    return

E_Compile_Fail:
    declare @lerror int
    select @lerror = @@error
    rollback tran compile_all
    RAISERROR (@lerror,16,-1)
    goto CleanUp

E_OAError:
    if @iActionFlag = 1 rollback tran compile_all
    exec dbo.dt_displayoaerror @iObjectId, @iReturn
    goto CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_checkinobject_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_checkinobject_u]
    @chObjectType  char(4),
    @vchObjectName nvarchar(255),
    @vchComment    nvarchar(255)='',
    @vchLoginName  nvarchar(255),
    @vchPassword   nvarchar(255)='',
    @iVCSFlags     int = 0,
    @iActionFlag   int = 0,   /* 0 => AddFile, 1 => CheckIn */
    @txStream1     Text = '', /* There is a bug that if items are NULL they do not pass to OLE servers */
    @txStream2     Text = '',
    @txStream3     Text = ''


as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId = 0

declare @VSSGUID nvarchar(100)
select @VSSGUID = N'SQLVersionControl.VCS_SQL'


declare @iPropertyObjectId int
select @iPropertyObjectId  = 0

    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   nvarchar(255)
    declare @vchSourceSafeINI nvarchar(255)
    declare @vchServerName    nvarchar(255)
    declare @vchDatabaseName  nvarchar(255)
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if @chObjectType = 'PROC'
    begin
        if @iActionFlag = 1
        begin
            /* Procedure Can have up to three streams
            Drop Stream, Create Stream, GRANT stream */

            begin tran compile_all

            /* try to compile the streams */
            exec (@txStream1)
            if @@error <> 0 GOTO E_Compile_Fail

            exec (@txStream2)
            if @@error <> 0 GOTO E_Compile_Fail

            exec (@txStream3)
            if @@error <> 0 GOTO E_Compile_Fail
        end

        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
        if @iReturn <> 0 GOTO E_OAError

        if @iActionFlag = 1
        begin
            exec @iReturn = sp_OAMethod @iObjectId,
                                        N'CheckIn_StoredProcedure',
                                        NULL,
                                        @sProjectName = @vchProjectName,
                                        @sSourceSafeINI = @vchSourceSafeINI,
                                        @sServerName = @vchServerName,
                                        @sDatabaseName = @vchDatabaseName,
                                        @sObjectName = @vchObjectName,
                                        @sComment = @vchComment,
                                        @sLoginName = @vchLoginName,
                                        @sPassword = @vchPassword,
                                        @iVCSFlags = @iVCSFlags,
                                        @iActionFlag = @iActionFlag,
                                        @sStream = @txStream2
        end
        else
        begin
            declare @iStreamObjectId int
            declare @iReturnValue int

            exec @iReturn = sp_OAGetProperty @iObjectId, N'GetStreamObject', @iStreamObjectId OUT
            if @iReturn <> 0 GOTO E_OAError

            select colid, text into #ProcLines
            from syscomments
            where id = object_id(@vchObjectName)
            order by colid

            declare @iCurProcLine int
            declare @iProcLines int
            select @iCurProcLine = 1
            select @iProcLines = (select count(*) from #ProcLines)
            while @iCurProcLine <= @iProcLines
            begin
                declare @pos int
                select @pos = 1
                declare @iCurLineSize int
                select @iCurLineSize = len((select text from #ProcLines where colid = @iCurProcLine))
                while @pos <= @iCurLineSize
                begin
                    declare @vchProcLinePiece nvarchar(255)
                    select @vchProcLinePiece = convert(nvarchar(255),
                        substring((select text from #ProcLines where colid = @iCurProcLine),
                                  @pos, 255 ))
                    exec @iReturn = sp_OAMethod @iStreamObjectId, N'AddStream', @iReturnValue OUT, @vchProcLinePiece
                    if @iReturn <> 0 GOTO E_OAError
                    select @pos = @pos + 255
                end
                select @iCurProcLine = @iCurProcLine + 1
            end
            drop table #ProcLines

            exec @iReturn = sp_OAMethod @iObjectId,
                                        N'CheckIn_StoredProcedure',
                                        NULL,
                                        @sProjectName = @vchProjectName,
                                        @sSourceSafeINI = @vchSourceSafeINI,
                                        @sServerName = @vchServerName,
                                        @sDatabaseName = @vchDatabaseName,
                                        @sObjectName = @vchObjectName,
                                        @sComment = @vchComment,
                                        @sLoginName = @vchLoginName,
                                        @sPassword = @vchPassword,
                                        @iVCSFlags = @iVCSFlags,
                                        @iActionFlag = @iActionFlag,
                                        @sStream = ''
        end

        if @iReturn <> 0 GOTO E_OAError

        if @iActionFlag = 1
        begin
            commit tran compile_all
            if @@error <> 0 GOTO E_Compile_Fail
        end

    end

CleanUp:
    return

E_Compile_Fail:
    declare @lerror int
    select @lerror = @@error
    rollback tran compile_all
    RAISERROR (@lerror,16,-1)
    goto CleanUp

E_OAError:
    if @iActionFlag = 1 rollback tran compile_all
    exec dbo.dt_displayoaerror_u @iObjectId, @iReturn
    goto CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_checkoutobject]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_checkoutobject]
    @chObjectType  char(4),
    @vchObjectName varchar(255),
    @vchComment    varchar(255),
    @vchLoginName  varchar(255),
    @vchPassword   varchar(255),
    @iVCSFlags     int = 0,
    @iActionFlag   int = 0/* 0 => Checkout, 1 => GetLatest, 2 => UndoCheckOut */

as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId =0

declare @VSSGUID varchar(100)
select @VSSGUID = 'SQLVersionControl.VCS_SQL'

declare @iReturnValue int
select @iReturnValue = 0

declare @vchTempText varchar(255)

/* this is for our strings */
declare @iStreamObjectId int
select @iStreamObjectId = 0

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   varchar(255)
    declare @vchSourceSafeINI varchar(255)
    declare @vchServerName    varchar(255)
    declare @vchDatabaseName  varchar(255)
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if @chObjectType = 'PROC'
    begin
        /* Procedure Can have up to three streams
           Drop Stream, Create Stream, GRANT stream */

        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        exec @iReturn = sp_OAMethod @iObjectId,
                                    'CheckOut_StoredProcedure',
                                    NULL,
                                    @sProjectName = @vchProjectName,
                                    @sSourceSafeINI = @vchSourceSafeINI,
                                    @sObjectName = @vchObjectName,
                                    @sServerName = @vchServerName,
                                    @sDatabaseName = @vchDatabaseName,
                                    @sComment = @vchComment,
                                    @sLoginName = @vchLoginName,
                                    @sPassword = @vchPassword,
                                    @iVCSFlags = @iVCSFlags,
                                    @iActionFlag = @iActionFlag

        if @iReturn <> 0 GOTO E_OAError


        exec @iReturn = sp_OAGetProperty @iObjectId, 'GetStreamObject', @iStreamObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        create table #commenttext (id int identity, sourcecode varchar(255))


        select @vchTempText = 'STUB'
        while @vchTempText IS NOT NULL
        begin
            exec @iReturn = sp_OAMethod @iStreamObjectId, 'GetStream', @iReturnValue OUT, @vchTempText OUT
            if @iReturn <> 0 GOTO E_OAError

            if (@vchTempText IS NOT NULL) insert into #commenttext (sourcecode) select @vchTempText
        end

        select 'VCS'=sourcecode from #commenttext order by id
        select 'SQL'=text from syscomments where id = object_id(@vchObjectName) order by colid

    end

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror @iObjectId, @iReturn
    GOTO CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_checkoutobject_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_checkoutobject_u]
    @chObjectType  char(4),
    @vchObjectName nvarchar(255),
    @vchComment    nvarchar(255),
    @vchLoginName  nvarchar(255),
    @vchPassword   nvarchar(255),
    @iVCSFlags     int = 0,
    @iActionFlag   int = 0/* 0 => Checkout, 1 => GetLatest, 2 => UndoCheckOut */

as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId =0

declare @VSSGUID nvarchar(100)
select @VSSGUID = N'SQLVersionControl.VCS_SQL'

declare @iReturnValue int
select @iReturnValue = 0

declare @vchTempText nvarchar(255)

/* this is for our strings */
declare @iStreamObjectId int
select @iStreamObjectId = 0

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   nvarchar(255)
    declare @vchSourceSafeINI nvarchar(255)
    declare @vchServerName    nvarchar(255)
    declare @vchDatabaseName  nvarchar(255)
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if @chObjectType = 'PROC'
    begin
        /* Procedure Can have up to three streams
           Drop Stream, Create Stream, GRANT stream */

        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        exec @iReturn = sp_OAMethod @iObjectId,
                                    N'CheckOut_StoredProcedure',
                                    NULL,
                                    @sProjectName = @vchProjectName,
                                    @sSourceSafeINI = @vchSourceSafeINI,
                                    @sObjectName = @vchObjectName,
                                    @sServerName = @vchServerName,
                                    @sDatabaseName = @vchDatabaseName,
                                    @sComment = @vchComment,
                                    @sLoginName = @vchLoginName,
                                    @sPassword = @vchPassword,
                                    @iVCSFlags = @iVCSFlags,
                                    @iActionFlag = @iActionFlag

        if @iReturn <> 0 GOTO E_OAError


        exec @iReturn = sp_OAGetProperty @iObjectId, N'GetStreamObject', @iStreamObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        create table #commenttext (id int identity, sourcecode nvarchar(255))


        select @vchTempText = N'STUB'
        while @vchTempText IS NOT NULL
        begin
            exec @iReturn = sp_OAMethod @iStreamObjectId, N'GetStream', @iReturnValue OUT, @vchTempText OUT
            if @iReturn <> 0 GOTO E_OAError

            if (@vchTempText IS NOT NULL) insert into #commenttext (sourcecode) select @vchTempText
        end

        select N'VCS'=sourcecode from #commenttext order by id
        select N'SQL'=text from syscomments where id = object_id(@vchObjectName) order by colid

    end

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror_u @iObjectId, @iReturn
    GOTO CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_displayoaerror]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[dt_displayoaerror]
    @iObject int,
    @iresult int
as

set nocount on

declare @vchOutput      varchar(255)
declare @hr             int
declare @vchSource      varchar(255)
declare @vchDescription varchar(255)

    exec @hr = sp_OAGetErrorInfo @iObject, @vchSource OUT, @vchDescription OUT

    select @vchOutput = @vchSource + ': ' + @vchDescription
    raiserror (@vchOutput,16,-1)

    return

GO
/****** Object:  StoredProcedure [dbo].[dt_displayoaerror_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[dt_displayoaerror_u]
    @iObject int,
    @iresult int
as

set nocount on

declare @vchOutput      nvarchar(255)
declare @hr             int
declare @vchSource      nvarchar(255)
declare @vchDescription nvarchar(255)

    exec @hr = sp_OAGetErrorInfo @iObject, @vchSource OUT, @vchDescription OUT

    select @vchOutput = @vchSource + ': ' + @vchDescription
    raiserror (@vchOutput,16,-1)

    return

GO
/****** Object:  StoredProcedure [dbo].[dt_droppropertiesbyid]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	Drop one or all the associated properties of an object or an attribute 
**
**	dt_dropproperties objid, null or '' -- drop all properties of the object itself
**	dt_dropproperties objid, property -- drop the property
*/
create procedure [dbo].[dt_droppropertiesbyid]
	@id int,
	@property varchar(64)
as
	set nocount on

	if (@property is null) or (@property = '')
		delete from dbo.dtproperties where objectid=@id
	else
		delete from dbo.dtproperties 
			where objectid=@id and property=@property

GO
/****** Object:  StoredProcedure [dbo].[dt_dropuserobjectbyid]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	Drop an object from the dbo.dtproperties table
*/
create procedure [dbo].[dt_dropuserobjectbyid]
	@id int
as
	set nocount on
	delete from dbo.dtproperties where objectid=@id
GO
/****** Object:  StoredProcedure [dbo].[dt_generateansiname]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* 
**	Generate an ansi name that is unique in the dtproperties.value column 
*/ 
create procedure [dbo].[dt_generateansiname](@name varchar(255) output) 
as 
	declare @prologue varchar(20) 
	declare @indexstring varchar(20) 
	declare @index integer 
 
	set @prologue = 'MSDT-A-' 
	set @index = 1 
 
	while 1 = 1 
	begin 
		set @indexstring = cast(@index as varchar(20)) 
		set @name = @prologue + @indexstring 
		if not exists (select value from dtproperties where value = @name) 
			break 
		 
		set @index = @index + 1 
 
		if (@index = 10000) 
			goto TooMany 
	end 
 
Leave: 
 
	return 
 
TooMany: 
 
	set @name = 'DIAGRAM' 
	goto Leave 
GO
/****** Object:  StoredProcedure [dbo].[dt_getobjwithprop]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	Retrieve the owner object(s) of a given property
*/
create procedure [dbo].[dt_getobjwithprop]
	@property varchar(30),
	@value varchar(255)
as
	set nocount on

	if (@property is null) or (@property = '')
	begin
		raiserror('Must specify a property name.',-1,-1)
		return (1)
	end

	if (@value is null)
		select objectid id from dbo.dtproperties
			where property=@property

	else
		select objectid id from dbo.dtproperties
			where property=@property and value=@value
GO
/****** Object:  StoredProcedure [dbo].[dt_getobjwithprop_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	Retrieve the owner object(s) of a given property
*/
create procedure [dbo].[dt_getobjwithprop_u]
	@property varchar(30),
	@uvalue nvarchar(255)
as
	set nocount on

	if (@property is null) or (@property = '')
	begin
		raiserror('Must specify a property name.',-1,-1)
		return (1)
	end

	if (@uvalue is null)
		select objectid id from dbo.dtproperties
			where property=@property

	else
		select objectid id from dbo.dtproperties
			where property=@property and uvalue=@uvalue
GO
/****** Object:  StoredProcedure [dbo].[dt_getpropertiesbyid]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	Retrieve properties by id's
**
**	dt_getproperties objid, null or '' -- retrieve all properties of the object itself
**	dt_getproperties objid, property -- retrieve the property specified
*/
create procedure [dbo].[dt_getpropertiesbyid]
	@id int,
	@property varchar(64)
as
	set nocount on

	if (@property is null) or (@property = '')
		select property, version, value, lvalue
			from dbo.dtproperties
			where  @id=objectid
	else
		select property, version, value, lvalue
			from dbo.dtproperties
			where  @id=objectid and @property=property
GO
/****** Object:  StoredProcedure [dbo].[dt_getpropertiesbyid_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	Retrieve properties by id's
**
**	dt_getproperties objid, null or '' -- retrieve all properties of the object itself
**	dt_getproperties objid, property -- retrieve the property specified
*/
create procedure [dbo].[dt_getpropertiesbyid_u]
	@id int,
	@property varchar(64)
as
	set nocount on

	if (@property is null) or (@property = '')
		select property, version, uvalue, lvalue
			from dbo.dtproperties
			where  @id=objectid
	else
		select property, version, uvalue, lvalue
			from dbo.dtproperties
			where  @id=objectid and @property=property
GO
/****** Object:  StoredProcedure [dbo].[dt_getpropertiesbyid_vcs]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[dt_getpropertiesbyid_vcs]
    @id       int,
    @property varchar(64),
    @value    varchar(255) = NULL OUT

as

    set nocount on

    select @value = (
        select value
                from dbo.dtproperties
                where @id=objectid and @property=property
                )

GO
/****** Object:  StoredProcedure [dbo].[dt_getpropertiesbyid_vcs_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[dt_getpropertiesbyid_vcs_u]
    @id       int,
    @property varchar(64),
    @value    nvarchar(255) = NULL OUT

as

    set nocount on

    select @value = (
        select uvalue
                from dbo.dtproperties
                where @id=objectid and @property=property
                )

GO
/****** Object:  StoredProcedure [dbo].[dt_isundersourcecontrol]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_isundersourcecontrol]
    @vchLoginName varchar(255) = '',
    @vchPassword  varchar(255) = '',
    @iWhoToo      int = 0 /* 0 => Just check project; 1 => get list of objs */

as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId = 0

declare @VSSGUID varchar(100)
select @VSSGUID = 'SQLVersionControl.VCS_SQL'

declare @iReturnValue int
select @iReturnValue = 0

declare @iStreamObjectId int
select @iStreamObjectId   = 0

declare @vchTempText varchar(255)

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   varchar(255)
    declare @vchSourceSafeINI varchar(255)
    declare @vchServerName    varchar(255)
    declare @vchDatabaseName  varchar(255)
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if (@vchProjectName IS NULL) or (@vchSourceSafeINI  IS NULL) or (@vchServerName IS NULL) or (@vchDatabaseName IS NULL)
    begin
        RAISERROR('Not Under Source Control',16,-1)
        return
    end

    if @iWhoToo = 1
    begin

        /* Get List of Procs in the project */
        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
        if @iReturn <> 0 GOTO E_OAError

        exec @iReturn = sp_OAMethod @iObjectId,
                                    'GetListOfObjects',
                                    NULL,
                                    @vchProjectName,
                                    @vchSourceSafeINI,
                                    @vchServerName,
                                    @vchDatabaseName,
                                    @vchLoginName,
                                    @vchPassword

        if @iReturn <> 0 GOTO E_OAError

        exec @iReturn = sp_OAGetProperty @iObjectId, 'GetStreamObject', @iStreamObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        create table #ObjectList (id int identity, vchObjectlist varchar(255))

        select @vchTempText = 'STUB'
        while @vchTempText IS NOT NULL
        begin
            exec @iReturn = sp_OAMethod @iStreamObjectId, 'GetStream', @iReturnValue OUT, @vchTempText OUT
            if @iReturn <> 0 GOTO E_OAError

            if (@vchTempText IS NOT NULL) insert into #ObjectList (vchObjectlist ) select @vchTempText
        end

        select vchObjectlist from #ObjectList order by id
    end

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror @iObjectId, @iReturn
    goto CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_isundersourcecontrol_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_isundersourcecontrol_u]
    @vchLoginName nvarchar(255) = '',
    @vchPassword  nvarchar(255) = '',
    @iWhoToo      int = 0 /* 0 => Just check project; 1 => get list of objs */

as

	set nocount on

	declare @iReturn int
	declare @iObjectId int
	select @iObjectId = 0

	declare @VSSGUID nvarchar(100)
	select @VSSGUID = N'SQLVersionControl.VCS_SQL'

	declare @iReturnValue int
	select @iReturnValue = 0

	declare @iStreamObjectId int
	select @iStreamObjectId   = 0

	declare @vchTempText nvarchar(255)

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   nvarchar(255)
    declare @vchSourceSafeINI nvarchar(255)
    declare @vchServerName    nvarchar(255)
    declare @vchDatabaseName  nvarchar(255)
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if (@vchProjectName IS NULL) or (@vchSourceSafeINI  IS NULL) or (@vchServerName IS NULL) or (@vchDatabaseName IS NULL)
    begin
        RAISERROR(N'Not Under Source Control',16,-1)
        return
    end

    if @iWhoToo = 1
    begin

        /* Get List of Procs in the project */
        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
        if @iReturn <> 0 GOTO E_OAError

        exec @iReturn = sp_OAMethod @iObjectId,
                                    N'GetListOfObjects',
                                    NULL,
                                    @vchProjectName,
                                    @vchSourceSafeINI,
                                    @vchServerName,
                                    @vchDatabaseName,
                                    @vchLoginName,
                                    @vchPassword

        if @iReturn <> 0 GOTO E_OAError

        exec @iReturn = sp_OAGetProperty @iObjectId, N'GetStreamObject', @iStreamObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        create table #ObjectList (id int identity, vchObjectlist nvarchar(255))

        select @vchTempText = N'STUB'
        while @vchTempText IS NOT NULL
        begin
            exec @iReturn = sp_OAMethod @iStreamObjectId, N'GetStream', @iReturnValue OUT, @vchTempText OUT
            if @iReturn <> 0 GOTO E_OAError

            if (@vchTempText IS NOT NULL) insert into #ObjectList (vchObjectlist ) select @vchTempText
        end

        select vchObjectlist from #ObjectList order by id
    end

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror_u @iObjectId, @iReturn
    goto CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_removefromsourcecontrol]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[dt_removefromsourcecontrol]

as

    set nocount on

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    exec dbo.dt_droppropertiesbyid @iPropertyObjectId, null

    /* -1 is returned by dt_droppopertiesbyid */
    if @@error <> 0 and @@error <> -1 return 1

    return 0


GO
/****** Object:  StoredProcedure [dbo].[dt_setpropertybyid]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	If the property already exists, reset the value; otherwise add property
**		id -- the id in sysobjects of the object
**		property -- the name of the property
**		value -- the text value of the property
**		lvalue -- the binary value of the property (image)
*/
create procedure [dbo].[dt_setpropertybyid]
	@id int,
	@property varchar(64),
	@value varchar(255),
	@lvalue image
as
	set nocount on
	declare @uvalue nvarchar(255) 
	set @uvalue = convert(nvarchar(255), @value) 
	if exists (select * from dbo.dtproperties 
			where objectid=@id and property=@property)
	begin
		--
		-- bump the version count for this row as we update it
		--
		update dbo.dtproperties set value=@value, uvalue=@uvalue, lvalue=@lvalue, version=version+1
			where objectid=@id and property=@property
	end
	else
	begin
		--
		-- version count is auto-set to 0 on initial insert
		--
		insert dbo.dtproperties (property, objectid, value, uvalue, lvalue)
			values (@property, @id, @value, @uvalue, @lvalue)
	end

GO
/****** Object:  StoredProcedure [dbo].[dt_setpropertybyid_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	If the property already exists, reset the value; otherwise add property
**		id -- the id in sysobjects of the object
**		property -- the name of the property
**		uvalue -- the text value of the property
**		lvalue -- the binary value of the property (image)
*/
create procedure [dbo].[dt_setpropertybyid_u]
	@id int,
	@property varchar(64),
	@uvalue nvarchar(255),
	@lvalue image
as
	set nocount on
	-- 
	-- If we are writing the name property, find the ansi equivalent. 
	-- If there is no lossless translation, generate an ansi name. 
	-- 
	declare @avalue varchar(255) 
	set @avalue = null 
	if (@uvalue is not null) 
	begin 
		if (convert(nvarchar(255), convert(varchar(255), @uvalue)) = @uvalue) 
		begin 
			set @avalue = convert(varchar(255), @uvalue) 
		end 
		else 
		begin 
			if 'DtgSchemaNAME' = @property 
			begin 
				exec dbo.dt_generateansiname @avalue output 
			end 
		end 
	end 
	if exists (select * from dbo.dtproperties 
			where objectid=@id and property=@property)
	begin
		--
		-- bump the version count for this row as we update it
		--
		update dbo.dtproperties set value=@avalue, uvalue=@uvalue, lvalue=@lvalue, version=version+1
			where objectid=@id and property=@property
	end
	else
	begin
		--
		-- version count is auto-set to 0 on initial insert
		--
		insert dbo.dtproperties (property, objectid, value, uvalue, lvalue)
			values (@property, @id, @avalue, @uvalue, @lvalue)
	end
GO
/****** Object:  StoredProcedure [dbo].[dt_validateloginparams]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_validateloginparams]
    @vchLoginName  varchar(255),
    @vchPassword   varchar(255)
as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId =0

declare @VSSGUID varchar(100)
select @VSSGUID = 'SQLVersionControl.VCS_SQL'

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchSourceSafeINI varchar(255)
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT

    exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
    if @iReturn <> 0 GOTO E_OAError

    exec @iReturn = sp_OAMethod @iObjectId,
                                'ValidateLoginParams',
                                NULL,
                                @sSourceSafeINI = @vchSourceSafeINI,
                                @sLoginName = @vchLoginName,
                                @sPassword = @vchPassword
    if @iReturn <> 0 GOTO E_OAError

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror @iObjectId, @iReturn
    GOTO CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_validateloginparams_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_validateloginparams_u]
    @vchLoginName  nvarchar(255),
    @vchPassword   nvarchar(255)
as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId =0

declare @VSSGUID nvarchar(100)
select @VSSGUID = N'SQLVersionControl.VCS_SQL'

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchSourceSafeINI nvarchar(255)
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT

    exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
    if @iReturn <> 0 GOTO E_OAError

    exec @iReturn = sp_OAMethod @iObjectId,
                                N'ValidateLoginParams',
                                NULL,
                                @sSourceSafeINI = @vchSourceSafeINI,
                                @sLoginName = @vchLoginName,
                                @sPassword = @vchPassword
    if @iReturn <> 0 GOTO E_OAError

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror_u @iObjectId, @iReturn
    GOTO CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_vcsenabled]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_vcsenabled]

as

set nocount on

declare @iObjectId int
select @iObjectId = 0

declare @VSSGUID varchar(100)
select @VSSGUID = 'SQLVersionControl.VCS_SQL'

    declare @iReturn int
    exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT
    if @iReturn <> 0 raiserror('', 16, -1) /* Can't Load Helper DLLC */


GO
/****** Object:  StoredProcedure [dbo].[dt_verstamp006]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**	This procedure returns the version number of the stored
**    procedures used by the Microsoft Visual Database Tools.
**    Current version is 7.0.00.
*/
create procedure [dbo].[dt_verstamp006]
as
	select 7000
GO
/****** Object:  StoredProcedure [dbo].[dt_whocheckedout]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_whocheckedout]
        @chObjectType  char(4),
        @vchObjectName varchar(255),
        @vchLoginName  varchar(255),
        @vchPassword   varchar(255)

as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId =0

declare @VSSGUID varchar(100)
select @VSSGUID = 'SQLVersionControl.VCS_SQL'

    declare @iPropertyObjectId int

    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   varchar(255)
    declare @vchSourceSafeINI varchar(255)
    declare @vchServerName    varchar(255)
    declare @vchDatabaseName  varchar(255)
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if @chObjectType = 'PROC'
    begin
        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        declare @vchReturnValue varchar(255)
        select @vchReturnValue = ''

        exec @iReturn = sp_OAMethod @iObjectId,
                                    'WhoCheckedOut',
                                    @vchReturnValue OUT,
                                    @sProjectName = @vchProjectName,
                                    @sSourceSafeINI = @vchSourceSafeINI,
                                    @sObjectName = @vchObjectName,
                                    @sServerName = @vchServerName,
                                    @sDatabaseName = @vchDatabaseName,
                                    @sLoginName = @vchLoginName,
                                    @sPassword = @vchPassword

        if @iReturn <> 0 GOTO E_OAError

        select @vchReturnValue

    end

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror @iObjectId, @iReturn
    GOTO CleanUp


GO
/****** Object:  StoredProcedure [dbo].[dt_whocheckedout_u]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[dt_whocheckedout_u]
        @chObjectType  char(4),
        @vchObjectName nvarchar(255),
        @vchLoginName  nvarchar(255),
        @vchPassword   nvarchar(255)

as

set nocount on

declare @iReturn int
declare @iObjectId int
select @iObjectId =0

declare @VSSGUID nvarchar(100)
select @VSSGUID = N'SQLVersionControl.VCS_SQL'

    declare @iPropertyObjectId int

    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    declare @vchProjectName   nvarchar(255)
    declare @vchSourceSafeINI nvarchar(255)
    declare @vchServerName    nvarchar(255)
    declare @vchDatabaseName  nvarchar(255)
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSProject',       @vchProjectName   OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSourceSafeINI', @vchSourceSafeINI OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLServer',     @vchServerName    OUT
    exec dbo.dt_getpropertiesbyid_vcs_u @iPropertyObjectId, 'VCSSQLDatabase',   @vchDatabaseName  OUT

    if @chObjectType = 'PROC'
    begin
        exec @iReturn = sp_OACreate @VSSGUID, @iObjectId OUT

        if @iReturn <> 0 GOTO E_OAError

        declare @vchReturnValue nvarchar(255)
        select @vchReturnValue = ''

        exec @iReturn = sp_OAMethod @iObjectId,
                                    N'WhoCheckedOut',
                                    @vchReturnValue OUT,
                                    @sProjectName = @vchProjectName,
                                    @sSourceSafeINI = @vchSourceSafeINI,
                                    @sObjectName = @vchObjectName,
                                    @sServerName = @vchServerName,
                                    @sDatabaseName = @vchDatabaseName,
                                    @sLoginName = @vchLoginName,
                                    @sPassword = @vchPassword

        if @iReturn <> 0 GOTO E_OAError

        select @vchReturnValue

    end

CleanUp:
    return

E_OAError:
    exec dbo.dt_displayoaerror_u @iObjectId, @iReturn
    GOTO CleanUp


GO
/****** Object:  Trigger [dbo].[TG_aluno_IU_RN]    Script Date: 25/04/2024 15:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_aluno_IU_RN] ON [dbo].[aluno] FOR INSERT,UPDATE AS
/*-----------------------------------------------------------------------*/
/* EGR: Egressos							 */
/* Autor(a): Fabiano Ferreira						 */
/* Data: 05/12/2003							 */
/*									 */
/* Objetivos: 							         */
/*  									 */
/* Gravar histórico das atualizações dos ex-aluno			 */
/* Enviar e-mail para ex-aluno avisando sobre atualizações no cadastro	 */
/*  									 */
/*-----------------------------------------------------------------------*/

BEGIN

--BEGIN TRANSACTION


	-- GRAVA HISTÓRICO ----------------------------------------------------------
	INSERT INTO situacao_cadastro 
		SELECT seq_aluno, getdate(), sit_cadastro FROM Inserted 


	IF @@error <> 0
	BEGIN
		ROLLBACK TRANSACTION 
		RAISERROR ( 'Erro ao gravar histórico (TG_aluno_IU_RN)', 16, 1)
		RETURN
	END





	-- ENVIA E-MAIL  ----------------------------------------------------------


	BEGIN 
	   IF EXISTS (SELECT 1 FROM  inserted )
	   BEGIN 

	      --DECLARE @situacao_cadastro tinyint

	      IF ((SELECT sit_cadastro FROM  inserted ) = 3)
	      BEGIN

		 GOTO ENVIA_EMAIL

	      END 
	      ELSE IF EXISTS (SELECT 1 FROM  deleted )
	      BEGIN
		 IF (((SELECT sit_cadastro FROM  deleted ) = 1) AND ((SELECT sit_cadastro FROM  inserted ) = 2))
		 BEGIN

		   GOTO ENVIA_EMAIL

		 END
	      END 
	   END 
	END

--COMMIT TRANSACTION

RETURN


ENVIA_EMAIL:

	DECLARE @dsc_email_origem varchar(100),
		@dsc_nome_origem varchar(100),
		@dsc_email_resposta varchar(100),
		@dsc_email_destino varchar(100),
		@dsc_assunto varchar(100),
                @aluno varchar(100),
                @mensagem varchar(8000)

	SELECT  @dsc_email_origem 	= 'sec@pucminas.br',
		@dsc_nome_origem 	= 'Puc Minas',
		@dsc_email_resposta 	= 'sec@pucminas.br',
		@dsc_email_destino 	= I.dsc_email,
		@dsc_assunto 		= 'Associação dos ex-alunos da PUC Minas',
                @aluno			= i.nom_aluno
	FROM	Inserted I

        SET @mensagem =  'Prezado(a) ' + @aluno +  ', seu cadastro foi efetuado com sucesso. ' + CHAR(13) + CHAR(13)  +
                         'É com prazer que a sua Universidade te recebe como membro da Associação dos Ex-Alunos da PUC Minas.' -- Mensagem
        
	EXEC cad..st_inclui_envio_email @dsc_email_origem,
					@dsc_nome_origem, 
					@dsc_email_resposta, 
					@dsc_email_destino,
					null, 				-- cópia
					null, 				-- cópia oculta
                                        @mensagem, 
					@dsc_assunto, 
					1, 				--@idt_tipo_mensagem
					null, 				-- @dat_prevista_envio
					null, 				-- @seq_controle
					1 				-- @idt_prioridade_envio_email
					

	IF @@error <> 0
	BEGIN
		ROLLBACK TRANSACTION 
		RAISERROR ( 'Erro ao enviar e-mail (TG_aluno_IU_RN)', 16, 1)
		RETURN
	END


--COMMIT TRANSACTION


END





GO
ALTER TABLE [dbo].[aluno] ENABLE TRIGGER [TG_aluno_IU_RN]
GO
